<% layout("layouts/boilerplate") %>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading"><%= message %></h4>
  <% if (process.env.NODE_ENV !== "production") { %>
  <hr />
  <p class="mb-0"><%= stack %></p>
  <% } %>
</div>
